<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="'Trading platform | ' + ${site_domain}"></title>
    <link rel="icon" th:href="${site_icon}">
    <link rel="stylesheet" href="assets/css/root.min.css?v=2">
    <link rel="stylesheet" href="../assets/css/support-widget.css?v=1">
    <link rel="stylesheet" href="assets/css/toastr.css">
    <link rel="stylesheet" href="landings/css/home.min.css">
    <style>
        .top-ghTgp {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .info__stats {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
<header class="header">
    <div class="header__wrapper">
        <div class="header__logo" onclick="location.replace('../')">
            <div class="header__logo-icon">
                <img style="width: 30px; margin-bottom: -3px;" th:src="${site_icon}">
            </div>
            <th:block th:text="${site_name}"></th:block>
        </div>
        <div class="header__links">
            <div class="header__links-wrapper">
                <a class="header__link" href="trading">
                    Spot trading
                </a>
                <a class="header__link" href="profile/swap">
                    Swap
                    <span class="header__link-new">0%</span>
                </a>
                <div class="header__link header__link-trade">
                    <div class="header__link-wrapper">
                        Derivatives
                        <div class="header__link-arrow">
                            <svg width="11" height="8" viewbox="0 0 11 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.34502 3.10642L4.95202 7.05416C5.49516 7.64861 6.37253 7.64861 6.91567 7.05416L10.5227 3.10642C11.4 2.14616 10.7733 0.5 9.53388 0.5H2.31989C1.08042 0.5 0.467644 2.14616 1.34502 3.10642Z"
                                      fill="white"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="header__more">
                        <a class="header__more-link butafor__btn" href="#">
                            <div class="header__more-img">
                                <img src="../assets/img/header/futures.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Futures trading</div>
                                <div class="header__more-description">
                                    Perpetual or Quarterly Contracts settled in Crypto
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link butafor__btn" href="#">
                            <div class="header__more-img">
                                <img src="../assets/img/header/options.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Options trading</div>
                                <div class="header__more-description">
                                    Trade European-style Vanilla Options
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="header__link header__link-tools">
                    <div class="header__link-wrapper">
                        Tools
                        <div class="header__link-arrow">
                            <svg width="11" height="8" viewbox="0 0 11 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.34502 3.10642L4.95202 7.05416C5.49516 7.64861 6.37253 7.64861 6.91567 7.05416L10.5227 3.10642C11.4 2.14616 10.7733 0.5 9.53388 0.5H2.31989C1.08042 0.5 0.467644 2.14616 1.34502 3.10642Z"
                                      fill="white"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="header__more">
                        <a class="header__more-link" href="market-crypto">
                            <div class="header__more-img">
                                <img src="../assets/img/header/cap.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Market cap</div>
                                <div class="header__more-description">
                                    Most of the available crypto assets and sorts them based on the market
                                    capitalization
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="market-screener">
                            <div class="header__more-img">
                                <img src="../assets/img/header/screener.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Market screener</div>
                                <div class="header__more-description">
                                    Powerful tool that allows to filter instruments based on fundamental data and
                                    various technical indicators
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="technical-analysis">
                            <div class="header__more-img">
                                <img src="../assets/img/header/tech.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Technical analysis</div>
                                <div class="header__more-description">
                                    Advanced tool that displays ratings based on technical indicators
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="cross-rates">
                            <div class="header__more-img">
                                <img src="../assets/img/header/rates.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Cross rates</div>
                                <div class="header__more-description">
                                    Real-time quotes of the selected currencies in comparison to the other major
                                    currencies at a glance
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="heat-map">
                            <div class="header__more-img">
                                <img src="../assets/img/header/heat.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Currency heat map</div>
                                <div class="header__more-description">
                                    Quick overview of action in the currency markets. It lets you spot strong and weak
                                    currencies in real-time and how strong they are in relation to one another
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="header__link" href="profile/staking">
                    Staking
                    <span class="header__link-hot">HOT</span>
                </a>
                <div class="header__link header__link-earn">
                    <div class="header__link-wrapper">
                        Earn
                        <div class="header__link-arrow">
                            <svg width="11" height="8" viewbox="0 0 11 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.34502 3.10642L4.95202 7.05416C5.49516 7.64861 6.37253 7.64861 6.91567 7.05416L10.5227 3.10642C11.4 2.14616 10.7733 0.5 9.53388 0.5H2.31989C1.08042 0.5 0.467644 2.14616 1.34502 3.10642Z"
                                      fill="white"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="header__more">
                        <a class="header__more-link" href="profile/copy-trading">
                            <div class="header__more-img">
                                <img src="../assets/img/header/copy.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Copy trading</div>
                                <div class="header__more-description">
                                    Automate your trading by copying top traders strategies
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="profile/trading-bots">
                            <div class="header__more-img">
                                <img src="../assets/img/header/bots.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Trading bots</div>
                                <div class="header__more-description">
                                    Intelligent pre-built trading bots help you auto-trade and earn all-day-long
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="profile/launchpad">
                            <div class="header__more-img">
                                <img src="../assets/img/header/launchpad.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Launchpad</div>
                                <div class="header__more-description">
                                    Early easy access to new, high-quality crypto projects
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="profile/space">
                            <div class="header__more-img">
                                <img src="../assets/img/header/space.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Space traveller</div>
                                <div class="header__more-description">
                                    Earn with your referral code
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="profile/savings">
                            <div class="header__more-img">
                                <img src="../assets/img/header/savings.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Savings</div>
                                <div class="header__more-description">
                                    Value-added product for flexible returns
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="profile/stake-eth20">
                            <div class="header__more-img">
                                <img src="../assets/img/header/eth20.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">ETH 2.0 Staking</div>
                                <div class="header__more-description">
                                    Don't just hold. Earn an additional 5%-20% locking return
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="header__link header__link-more">
                    <div class="header__link-wrapper">
                        More
                        <div class="header__link-arrow">
                            <svg width="11" height="8" viewbox="0 0 11 8" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.34502 3.10642L4.95202 7.05416C5.49516 7.64861 6.37253 7.64861 6.91567 7.05416L10.5227 3.10642C11.4 2.14616 10.7733 0.5 9.53388 0.5H2.31989C1.08042 0.5 0.467644 2.14616 1.34502 3.10642Z"
                                      fill="white"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="header__more">
                        <a class="header__more-link" href="profile/p2p">
                            <div class="header__more-img">
                                <img src="../assets/img/header/p2p.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">P2P trading</div>
                                <div class="header__more-description">
                                    Buy crypto from verified merchants
                                </div>
                            </div>
                        </a>
                        <a th:if="${payment_settings != null && payment_settings.transakEnabled}"
                           class="header__more-link" href="profile/buy-crypto">
                            <div class="header__more-img">
                                <img src="../assets/img/header/card.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Buy crypto with card</div>
                                <div class="header__more-description">
                                    Buy crypto via Card, Apple Pay, Google Pay
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="profile/token-listing">
                            <div class="header__more-img">
                                <img src="../assets/img/header/tokenlist.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Token listing</div>
                                <div class="header__more-description">
                                    We can list your project on our exchange within 48 hours
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="profile/institutions">
                            <div class="header__more-img">
                                <img src="../assets/img/header/inst.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name">Institutional home</div>
                                <div class="header__more-description"
                                     th:text="${site_name} + ' offers the world`s most powerful suite of institutional crypto trading solutions'"></div>
                            </div>
                        </a>
                        <a class="header__more-link" href="cards">
                            <div class="header__more-img">
                                <img src="../assets/img/header/card.svg" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name" th:text="${site_name} + ' Card'"></div>
                                <div class="header__more-description">
                                    Order and ise your card anywhere Visa® debit cards are accepted, at 40M+ merchants
                                    worldwide.
                                </div>
                            </div>
                        </a>
                        <a class="header__more-link" href="profile/ventures">
                            <div class="header__more-img">
                                <img src="../assets/img/header/ventures.png" alt="">
                            </div>
                            <div class="header__more-wrapper">
                                <div class="header__more-name" th:text="${site_name} + ' Ventures'"></div>
                                <div class="header__more-description"
                                     th:text="${site_name} + ' Ventures is a fund focused on exploring high-quality projects with great potential'"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="header__link" href="../profile/support">Support</a>
                <a class="header__link" href="../profile/wallet"
                   th:text="'Wallet: ' + ${total_usd_balance} + ' USD'"></a>
            </div>
        </div>
        <div class="header__right">
            <div class="header__user">
                <div class="header__user-btn">
                    <div th:text="${user.username}" class="header__user-name">
                    </div>
                    <div class="header__user-img">
                        <picture>
                            <source th:srcset="${user.profilePhoto == null ? '../assets/img/profile/avatar.svg' : '../' + user.profilePhoto}"
                                    type="image/webp">
                            <img th:src="${user.profilePhoto == null ? '../assets/img/profile/avatar.svg' : '../' + user.profilePhoto}"
                                 alt="">
                        </picture>
                    </div>
                </div>
                <div class="header-menu__bg">
                    <div class="header-menu">
                        <div class="header-menu__overview">
                            <div class="header-menu__overview-info">
                                <div class="header-menu__overview-img">
                                    <img src="../assets/img/header/wallet-overview.svg" alt="">
                                </div>
                                <div class="header-menu__overview-wrapper">
                                    <div class="header-menu__overview-title">
                                        Assets overview
                                    </div>
                                    <div class="header-menu__overview-value">
                                        <span th:text="${total_usd_balance}"></span> USD
                                    </div>
                                </div>
                            </div>
                            <div class="header-menu__overview-links">
                                <a class="header-menu__overview-link" href="profile/deposit">
                                    <img src="../assets/img/header/wallet-add.svg" alt="">
                                    Deposit
                                </a>
                                <a class="header-menu__overview-link" href="profile/withdraw">
                                    <img src="../assets/img/header/withdraw.svg" alt="">
                                    Withdraw
                                </a>
                            </div>
                        </div>
                        <div class="header-menu__links">
                            <a th:if="${user.isAdmin()}" style="color: orange;" class="header-menu__links-link"
                               href="../admin-panel">
                                <img src="../assets/img/header/admin.svg" alt="">
                                Admin Panel
                            </a>
                            <a th:if="${user.isWorker()}" style="color: orange;" class="header-menu__links-link"
                               href="../worker-panel">
                                <img src="../assets/img/header/admin.svg" alt="">
                                Worker Panel
                            </a>
                            <a class="header-menu__links-link" href="profile/wallet">
                                <img src="../assets/img/header/wallet-menu.svg" alt="">
                                Wallet
                            </a>
                            <a class="header-menu__links-link" href="profile/settings">
                                <img src="../assets/img/header/settings.svg" alt="">
                                Account settings
                            </a>
                            <a class="header-menu__links-link" href="profile/verification">
                                <img src="../assets/img/header/verification.svg" alt="">
                                Verification
                            </a>
                            <a class="header-menu__links-link" href="profile/promo-codes">
                                <img src="../assets/img/header/codes.svg" alt="">
                                Gift codes
                            </a>
                            <a class="header-menu__links-link" href="profile/support">
                                <img src="../assets/img/header/support.svg" alt="">
                                Support </a>
                        </div>
                        <div class="header-menu__user">
                            <div class="header-menu__user-container">
                                <a class="header-menu__user-img" href="#">
                                    <picture>
                                        <source srcset="assets/img/profile/avatar.svg" type="image/webp">
                                        <img src="../assets/img/profile/avatar.svg" alt="">
                                    </picture>
                                </a>
                                <div class="header-menu__user-wrapper">
                                    <div th:text="${user.username}" class="header-menu__user-nickname">
                                    </div>
                                    <div th:text="${user.email}" class="header-menu__user-mail">
                                    </div>
                                </div>
                            </div>
                            <div class="header-menu__user-exit" onclick="location.replace('../api/auth/logout')">
                                <img src="../assets/img/header/exit.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__btn-mobile">
                <svg width="35" height="35" viewbox="0 0 100 100">
                    <path class="header__nav-line header__nav-line1"
                          d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"></path>
                    <path class="header__nav-line header__nav-line2" d="M 20,50 H 80"></path>
                    <path class="header__nav-line header__nav-line3"
                          d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"></path>
                </svg>
            </div>
        </div>
    </div>
</header>
<link rel="stylesheet" type="text/css" href="assets/css/new_trading.css">
<link rel="stylesheet" type="text/css" href="assets/css/trade-bot.css">
<main>
    <div class="trade__container-ghTgp">
        <div class="trade__box-ghTgp">
            <div class="top-ghTgp info">
                <div class="info__container">
                    <div class="info__stats">
                        <p>Total work: <span id="total-work" class="total-work border-gradient"></span></p>
                    </div>

                    <div class="info__stats" style="display: inline-block;">
                        <p>Status: <span id="status" class="status border-gradient"></span>
                    </div>

                    <div class="info__stats">
                        <p>Total profit: <span id="profit" class="profit border-gradient"></span></p>
                    </div>
                </div>
            </div>
            <div class="left-ghTgp coins">
                <div class="book__title">
                    Last Orders
                </div>
                <div class="coins__names">
                    <div class="coins__names-item coins__names-currency">
                        Pair
                    </div>
                    <div class="coins__names-item coins__names-last">
                    </div>
                    <div class="coins__names-item coins__names-change">
                        Change
                    </div>
                </div>
                <div class="coins__items">
                    <div id="lastOrders" class="coins__items-wrapper">
                    </div>
                </div>
            </div>

            <div class="center-top-ghTgp" id="tvchart">
                <div class="loader-div" style="text-align: center; justify-content: center;">
                    <img class="loader" src="../assets/img/trade-bot/loader.gif" alt="Loader">
                </div>
                <div th:if="${coins.size()} > 1" class="loader-info coin-container">
                    <div class="select step-form-coins-send" style="width: 138px;">
                        <div class="select__selected" style="background: transparent; border: 0px;">
                            <div class="select__img">
                                <img th:src="${coins.get(0).icon}" alt="">
                            </div>
                            <div class="select__name" style="color: #d1d4dc;">
                                <span id="firstCoin" th:text="${coins.get(0).symbol}"></span>
                            </div>

                            <div class="select__arrow">
                                <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.10156 9.45312C6.3125 9.66406 6.66406 9.66406 6.875 9.45312L11.4453 4.90625C11.6562 4.67188 11.6562 4.32031 11.4453 4.10938L10.9062 3.57031C10.6953 3.35938 10.3438 3.35938 10.1094 3.57031L6.5 7.17969L2.86719 3.57031C2.63281 3.35938 2.28125 3.35938 2.07031 3.57031L1.53125 4.10938C1.32031 4.32031 1.32031 4.67188 1.53125 4.90625L6.10156 9.45312Z" fill="#667085"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="select__menu">
                            <div th:each="coin: ${coins}" class="select__menu-item" th:data-coin-symbol="${coin.symbol}" onclick="sendCurrencySelect(this.getAttribute('data-coin-symbol'))">
                                <div class="select__img">
                                    <img th:src="${coin.icon}" alt="">
                                </div>
                                <div class="select__name">
                                    <span th:text="${coin.symbol}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="step__available">
                            <div>Available: <span id="my_available_balance" onclick="availableBalance()">0</span></div>
                        </div>
                        <input class="input__01" type="number" placeholder="Amount" id="firstCoinAmount" style="width: 100%">
                    </div>

                    <div class="select step-form-coins-receive" style="width: 138px;">
                        <div class="select__selected" style="background: transparent; border: 0px;">
                            <div class="select__img">
                                <img th:src="${coins.get(1).icon}" alt="">
                            </div>
                            <div class="select__name" style="color: #d1d4dc;">
                                <span id="secondCoin" th:text="${coins.get(1).symbol}"></span>
                            </div>

                            <div class="select__arrow">
                                <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.10156 9.45312C6.3125 9.66406 6.66406 9.66406 6.875 9.45312L11.4453 4.90625C11.6562 4.67188 11.6562 4.32031 11.4453 4.10938L10.9062 3.57031C10.6953 3.35938 10.3438 3.35938 10.1094 3.57031L6.5 7.17969L2.86719 3.57031C2.63281 3.35938 2.28125 3.35938 2.07031 3.57031L1.53125 4.10938C1.32031 4.32031 1.32031 4.67188 1.53125 4.90625L6.10156 9.45312Z" fill="#667085"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="select__menu">
                            <div th:each="coin: ${coins}" class="select__menu-item" th:data-coin-symbol="${coin.symbol}" onclick="receiveCurrencySelect(this.getAttribute('data-coin-symbol'))">
                                <div class="select__img">
                                    <img th:src="${coin.icon}" alt="">
                                </div>
                                <div class="select__name">
                                    <span th:text="${coin.symbol}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="step__available">
                            <div>Available: <span id="my_available_balance_2" onclick="availableBalance2()">0</span></div>
                        </div>
                        <input class="input__01" type="number" placeholder="Amount" id="secondCoinAmount" style="width: 100%">
                    </div>

                </div>
                <div th:if="${coins.size()} > 1" class="loader-buttons">
                    <button class="order_btn-fbGht order_btn-fbGht-buy" id="start-btn">Start</button>
                    <button class="order_btn-fbGht order_btn-fbGht-sell" id="stop-btn">Stop</button>
                </div>
                <div th:unless="${coins.size()} > 1">
                    <div class="home__description">
                        You must have 2 coins with a balance of at least 10 USDT each
                    </div>
                </div>
            </div>
            <div class="right-top-ghTgp coins">
                <div class="book__title">
                    User Profits
                </div>
                <div class="coins__items">
                    <div id="user-profits-list" class="coins__items-wrapper"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="orders-list">
        <div class="button__container" id="orders">
            <div class="rushButton buttonActiveNew">
                My Trading History
            </div>
        </div>
        <div class="orders_content__container tabsBoxOne">
            <div class="content__container-item tabsBoxOne itemActiveNew" id="ordersConOne">
                <div class="orders__table">
                    <div class="orders__names">
                        <div class="orders__names-item orders__names-date">
                            Date
                        </div>
                        <div class="orders__names-item orders__names-pair">
                            Pair
                        </div>
                        <div class="orders__names-item orders__names-side">
                            Change %
                        </div>
                        <div class="orders__names-item orders__names-amount">
                            Amount
                        </div>
                        <div class="orders__names-item orders__names-amount">
                            Profit
                        </div>
                    </div>
                    <div class="orders__items" id="orders_table"><div class="orders_noHis" style="margin: auto; text-align: center; margin-top: 100px;">No open orders</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
<script src="../assets/js/jquery-3.4.1.min.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/js/toastr.js"></script>
<script src="../assets/js/newnoti.js"></script>
<script src="../assets/js/error-modal.js?v=4"></script>
<script src="../assets/js/swap.min.js"></script>
<script src="../assets/js/trade-bot.js"></script>
<script>
    function getRandomInterval() {
        let time = Math.floor(Math.random() * (60 - 15 + 1) + 15) * 1000;
        console.log(time)
        return time;
    }

    function generateOrder() {
        var firstCoinElement = document.getElementById("firstCoin");
        var firstCoinCoinValue = firstCoinElement.textContent || firstCoinElement.innerText;
        var secondCoinElement = document.getElementById("secondCoin");
        var secondCoinValue = secondCoinElement.textContent || secondCoinElement.innerText;

        var firstCoinAmount = $("#firstCoinAmount").val();
        var secondCoinAmount = $("#secondCoinAmount").val();

        $.ajax({
            url: '../api/user/generate-order',
            type: 'POST',
            data: JSON.stringify({
                firstCoinSymbol: firstCoinCoinValue,
                firstCoinAmount: parseFloat(firstCoinAmount),
                secondCoinSymbol: secondCoinValue,
                secondCoinAmount:parseFloat(secondCoinAmount)
            }),
            contentType: 'application/json; charset=utf-8',
            success: function(order) {
                console.log("Order generated:", order);
                var ordersTable = `
                        <div class="orders__item">
                            <div class="orders__item-date">${new Date(order.date).toLocaleString()}</div>
                            <div class="orders__item-pair">${order.firstCoin.symbol}/${order.secondCoin.symbol}</div>
                            <div class="orders__item-side">${order.changeInPercent}%</div>
                            <div class="orders__item-amount">${order.amountInUSDT.toFixed(2)}</div>
                            <div class="orders__item-amount">${order.profitInUSDT.toFixed(2)}</div>
                        </div>
                    `;
                var lastOrders = `
                        <a class="coins__item" th:href="#">
                                <div class="coins__item-currency">
                                <div class="coins__item-icon">
                                        <img src="${order.firstCoin.icon}" alt="" style="width: 20px !important">
                                    </div>
                                    <span>${order.firstCoin.symbol}</span><block>/${order.secondCoin.symbol}</block>
                                </div>
                                <div class="coins__item-last"></div>
                                <div class="coins__item-change">${order.changeInPercent}%</div>
                            </a>
                    `;
                $('#lastOrders').prepend(lastOrders);
                $('#orders_table').prepend(ordersTable);

                let $profit = $('#profit');
                let profitText = $profit.text();
                let profitAmount = parseFloat(profitText.replace('$', ''));
                profitAmount += order["profitInUSDT"]
                $profit.text(profitAmount.toFixed(2));
            },
            error: function(error) {
                console.error("Error generating order:", error);
            }
        });
    }

    function getTotalWorkTime(startTime) {
        let currentTime = Date.now();
        let timeDifference = currentTime - startTime;

        let days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
        let hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));

        if (days === 0 && hours === 0) {
            return `${minutes}m`;
        } else if (days === 0) {
            return `${hours}h.${minutes}m`;
        } else {
            return `${days}d.${hours}h.${minutes}m`;
        }
    }

    function isValidCoinsAmount() {
        const firstCoinAmount = parseFloat($("#firstCoinAmount").val());
        const secondCoinAmount = parseFloat($("#secondCoinAmount").val());

        const my_available_balance = parseFloat($("#my_available_balance").val());
        const my_available_balance_2 = parseFloat($("#my_available_balance_2").val());

        if (!firstCoinAmount || !secondCoinAmount ||
            firstCoinAmount > my_available_balance ||
            secondCoinAmount > my_available_balance_2 ||
            firstCoinAmount <= 0 ||
            secondCoinAmount <= 0) {
                showCustomErrorModal("Invalid coin amount");
                return false;
        }

        return true;
    }

    function getUserProfitRow(userProfit) {
        return `
        <a class="coins__item" th:href="#">
            <div class="coins__item-currency">
                <span>${userProfit["username"]}</span>
            </div>
            <div class="coins__item-last"></div>
            <div class="coins__item-change">${userProfit["profit"]}%</div>
        </a>
    `;
    }

    function updateUserProfits() {
        const $userProfitList = $('#user-profits-list')

        $.ajax({
            url: "../api/user/random-profits",
            method: "GET",
            success: function(data) {
                $userProfitList.empty();
                data.forEach((userProfit) => $userProfitList.append(getUserProfitRow(userProfit)))
            },
            error: (error) => console.log("Error fetching user profits:", error)
        })
    }

    $(document).ready(function() {
        updateUserProfits();
        setInterval(updateUserProfits, 5_000);

        let isGenerating = false;

        function updateBotData() {
            $.ajax({
                url: "../api/user/bot-info",
                method: "GET",
                success: function(botData) {
                    if (botData["status"] === "STARTED") {
                        $('#total-work').text(getTotalWorkTime(botData["startedAt"]));
                        isGenerating = true;
                    } else {
                        $('#total-work').text("-");
                        isGenerating = false;
                    }
                    $('#status').text(botData["status"]);
                    $('#profit').text(botData["profit"] + "$");

                    setInterval(() => {
                        if (isGenerating === true) {
                            generateOrder();
                        }
                    }, getRandomInterval());

                    if (isGenerating) {
                        $startButton.prop("disabled", true);
                        $startButton.addClass("button_disabled");
                    } else {
                        $stopButton.prop("disabled", true);
                        $stopButton.addClass("button_disabled");
                    }
                },
                error: (error) => console.log("Error fetching bot data:", error)
            });
        }

        updateBotData()

        // Get Orders
        $.ajax({
            url: "../api/user/get-trade-bot-orders",
            method: "GET",
            success: function(data) {
                // Clear the previous content
                $('#orders_table').empty();

                if (data.length === 0) {
                    $('#orders_table').html('<div class="orders_noHis" style="margin: auto; text-align: center; margin-top: 100px;">No open orders</div>');
                } else {
                    data.forEach(function(order) {
                        var ordersTable = `
                        <div class="orders__item">
                            <div class="orders__item-date">${new Date(order.date).toLocaleString()}</div>
                            <div class="orders__item-pair">${order.firstCoin.symbol}/${order.secondCoin.symbol}</div>
                            <div class="orders__item-side">${order.changeInPercent}%</div>
                            <div class="orders__item-amount">${order.amountInUSDT.toFixed(2)}</div>
                            <div class="orders__item-amount">${order.profitInUSDT.toFixed(2)}</div>
                        </div>
                    `;
                        var lastOrders = `
                        <a class="coins__item" th:href="#">
                                <div class="coins__item-currency">
                                <div class="coins__item-icon">
                                        <img src="${order.firstCoin.icon}" alt="" style="width: 20px !important">
                                    </div>
                                    <span>${order.firstCoin.symbol}</span><block>/${order.secondCoin.symbol}</block>
                                </div>
                                <div class="coins__item-last"></div>
                                <div class="coins__item-change">${order.changeInPercent}%</div>
                            </a>
                    `;
                        $('#lastOrders').append(lastOrders);
                        $('#orders_table').append(ordersTable);
                    });
                }
            },
            error: function(error) {
                console.log("Error fetching orders:", error);
                $('#orders_table').html('<div class="orders_noHis" style="margin: auto; text-align: center; margin-top: 100px;">Failed to load orders</div>');
            }
        });

        // Buttons Logic
        const $startButton = $('#start-btn');
        const $stopButton = $('#stop-btn');

        $startButton.click(function() {
            if (!isValidCoinsAmount()) return;

            $.ajax({
                url: '../api/user/start-generating',
                type: 'POST',
                success: function(response) {
                    console.log("Started generating orders");

                    $startButton.prop("disabled", true);
                    $startButton.addClass("button_disabled");

                    $stopButton.prop("disabled", false);
                    $stopButton.removeClass("button_disabled");

                    $('#total-work').text("0m")
                    $('#status').text("STARTED");

                    isGenerating = true;

                    $("#firstCoinAmount").attr("readonly", true);
                    $("#secondCoinAmount").attr("readonly", true);
                },
                error: function(error) {
                    console.error("Error starting order generation", error);
                }
            });
        });

        $stopButton.click(function() {

            $.ajax({
                url: '../api/user/stop-generating',
                type: 'POST',
                success: function(response) {
                    console.log("Stopped generating orders");

                    $stopButton.prop("disabled", true);
                    $stopButton.addClass("button_disabled");

                    $startButton.prop("disabled", false);
                    $startButton.removeClass("button_disabled");

                    isGenerating = false;

                    $("#firstCoinAmount").attr("readonly", false);
                    $("#secondCoinAmount").attr("readonly", false);

                    $('#total-work').text("0m")
                    $('#status').text("STOPPED");
                    $('#profit').text("0$")
                },
                error: function(error) {
                    console.error("Error stopping order generation", error);
                }
            });
        });

    });

</script>

<script type="text/javascript" th:if="${coins.size()} > 1">

    $(document).ready(function() {
        $.ajax({
            url: "../api/user/coin-balance?coinSymbol=" + $("#firstCoin").text(),
            method: "GET",
            success: function(availableAmount) {
                $("#my_available_balance").text(parseFloat(availableAmount).toFixed(4));
            },
            error: (error) => console.log("Error updating available amount:", error)
        });

        $.ajax({
            url: "../api/user/coin-balance?coinSymbol=" + $("#secondCoin").text(),
            method: "GET",
            success: function(availableAmount) {
                $("#my_available_balance_2").text(parseFloat(availableAmount).toFixed(4));
            },
            error: (error) => console.log("Error updating available amount:", error)
        });
    });

    var ex_currency = [[${coins.get(0).symbol}]];
    var for_currency = [[${usdt.symbol}]];
    var ex_currency_2 = [[${coins.get(1).symbol}]];

    calcSwap(for_currency, ex_currency);

    function updateBalance(crypto) {
        $.ajax({
            url: "../api/user/profile",
            type: "POST",
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify({
                action: "GET_BALANCE",
                crypto: crypto
            }),
            success: function (response, textStatus, status) {
                if (status.status === 200) {
                    $("#my_available_balance").empty().html(parseFloat(status.responseText).toFixed(4));
                    $("#my_available_crypto").empty().html(crypto.toUpperCase());
                    availableBalance();
                } else {
                    noti("An unknown error has occurred, please try again later", "error");
                }
            },
            error: function (xhr) {
                noti("An unknown error has occurred, please try again later", "error");
            }
        });
    }

    function updateBalance2(crypto) {
        $.ajax({
            url: "../api/user/profile",
            type: "POST",
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify({
                action: "GET_BALANCE",
                crypto: crypto
            }),
            success: function (response, textStatus, status) {
                if (status.status === 200) {

                    $("#my_available_balance_2").empty().html(parseFloat(status.responseText).toFixed(4));
                    $("#my_available_crypto_2").empty().html(crypto.toUpperCase());
                    availableBalance2();
                } else {
                    noti("An unknown error has occurred, please try again later", "error");
                }
            },
            error: function (xhr) {
                noti("An unknown error has occurred, please try again later", "error");
            }
        });
    }

    function sendCurrencySelect(crypto) {
        ex_currency = crypto;
        updateBalance(ex_currency);
    }

    function receiveCurrencySelect(crypto) {
        ex_currency_2 = crypto;
        updateBalance2(ex_currency_2);
    }

    function availableBalance() {
        var available = $("#my_available_balance").html();
        $("#ex_amount").val(available);

        var amount = $("#ex_amount").val();
        var ex = ex_currency;
        var for_ex = for_currency;

        if (parseFloat(amount) < 0 || amount == "-" || amount == "+") {
            noti("Repeated actions will lead to account blocking!", "error");
            $("#ex_amount").val("");
            $("#ex_amount_from").val("");
        } else {
            calcAmountFrom(for_ex, ex, amount);
        }
    }

    function availableBalance2() {
        var available = $("#my_available_balance_2").html();
        $("#ex_amount").val(available);

        var amount = $("#ex_amount").val();
        var ex = ex_currency_2;
        var for_ex = for_currency;

        if (parseFloat(amount) < 0 || amount == "-" || amount == "+") {
            noti("Repeated actions will lead to account blocking!", "error");
            $("#ex_amount").val("");
            $("#ex_amount_from").val("");
        } else {
            calcAmountFrom(for_ex, ex, amount);
        }
    }

</script>